# Ansible Tower settings for memcached.
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '{}:{}'.format('$MEMCACHED_HOST',
                                   '$MEMCACHED_PORT')
    },
}